<configuration scan="false" debug="true">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-20logger{0}] %message%n</pattern>
        </encoder>
    </appender>

    <logger name="org.reactivemongo" level="ERROR"/>
    <logger name="com.datastax" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>

    <logger name="com.mongodb" level="ERROR"/>
    <logger name="com.github.fakemongo" level="ERROR"/>
    <logger name="org.jasypt" level="ERROR"/>
    <logger name="org.mybatis" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.mortbay" level="ERROR"/>
    <logger name="org.eclipse" level="ERROR"/>
    <logger name="org.apache.hadoop" level="ERROR"/>
    <logger name="org.apache.spark" level="WARN"/>
    <logger name="org.keedio.actors.syslog" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>